.btn {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    justify-self: center;
    /* border: 2px solid rgb(207, 217, 222); */
    border: 2px solid black;
    padding: 10px 30px;
    gap: 8px;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
    background-color: white;
    width: 240px;
    cursor: pointer;
    justify-content: center;
}
.btnDiv{
    display: flex;
    align-items: center;
    user-select: none;
}

.btn:hover {
    color: white;
    background-color: rgb(29, 29, 29);
}

@media screen and (max-width:500px){
    .btn{
        transition: all 1ms ease-in-out;
        width: 300px;
    }
    .btnDiv {
        justify-content: center;
        margin-top: 60px;
    }
    .totalDiv {
        margin: 70px;
    }
}
@media  screen and (min-width: 1200px){
    .totalDiv {
        gap: 100px;
        margin-top: 150px;
    }
    .btn{
        height: 80px;
        width: 350px;
    }

}
.totalDiv {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headLink {
    font-family: "Cobin", sans-serif;
}